:root {
  --primary-color: #ffceda;
  --primary-color2: #000000;
  --primary-color3: #ffffff;
  --primary-color4: #ffffff;
  --sub-color: #453cd1;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
